[submodule "alpinehelloworld"]
    path = alpinehelloworld
    url = <URL_CORRETO_DO_REPOSITORIO_REMOTO_DO_ALPINEHELLOWORLD>
[submodule "python-docker"]
    path = python-docker
    url = <URL_CORRETO_DO_REPOSITORIO_REMOTO_DO_PYTHON-DOCKER>
